<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>tsukkomi-.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9A8B87551D55B50300C9933A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9A8B87691D55B50300C9933A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9A8B87741D55B50300C9933A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
